graphs {
  graph_id: 1687
  priority: 1

  engines {
    id: 1001
    engine_name: "HostPreProcessEngine"
    side: HOST
    thread_num: 1
  }

  engines {
    id: 1002
    engine_name: "InferenceEngine"
    side: DEVICE
    thread_num: 1
    wait_inputdata_max_time: 1000
    so_name: "./libDevice.so"
    ai_config{
      items{
          name: "model"
          value: "/home/HwHiAiUser/bokyliu/ascend310_CenterNet/bilinear/centernet-50-bilinear.om"
      }
    }
  }

  connects {
    src_engine_id: 1001
    src_port_id: 0
    target_engine_id: 1002
    target_port_id: 0
  }
  connects {
    src_engine_id: 1002
    src_port_id: 0
    target_engine_id: 1001
    target_port_id: 1
  }
}
